In [1]:
import math
import pandas as pd
from statsbombpy import sb
from mplsoccer import VerticalPitch

In [2]:
df = sb.events(match_id=3869685)

In [3]:
df[['x', 'y']] = df['location'].apply(pd.Series)

In [4]:
df = df[df['team'] == 'Argentina']

In [5]:
df['newsecond'] = 60 * df['minute'] + df['second']

In [6]:
df = df.sort_values(by=['newsecond'])

In [7]:
df['newsecond']

0          0
3          0
14        16
2390      17
1277      17
        ...
4242    7456
4406    7497
4287    7510
4244    7557
4404    7558
Name: newsecond, Length: 2372, dtype: int64

In [8]:
df['passer'] = df['player_id']
df['recipient'] = df['passer'].shift(-1)

In [9]:
passes_df = df[df['type'] == 'Pass']

In [10]:
passes_df['pass_outcome'] = passes_df['pass_outcome'].fillna("Successful")

C:\Users\knich\AppData\Local\Temp\ipykernel_13760\2602487714.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  passes_df['pass_outcome'] = passes_df['pass_outcome'].fillna("Successful")

In [11]:
passes_df['pass_outcome']

14      Successful
15      Successful
16      Successful
17      Successful
18      Successful
           ...
1268    Successful
1269    Successful
1270    Successful
1272    Incomplete
1273    Successful
Name: pass_outcome, Length: 693, dtype: object

In [12]:
completions = passes_df[passes_df['pass_outcome'] == 'Successful']

In [13]:
sub_df = df[df['type'] == 'Substitution']
first_sub = sub_df['newsecond'].min()

In [16]:
first_sub

3831

In [15]:
if first_sub <= (60*40):
    first_sub = 60*45

In [17]:
completions = completions[completions['newsecond'] < first_sub]

In [18]:
completions.shape

(317, 99)

In [19]:
average_loc_and_count = completions.groupby('passer').agg({'x': ['mean'], 'y': ['mean', 'count']})

In [20]:
average_loc_and_count.columns = ['x', 'y', 'count']

In [21]:
average_loc_and_count.head()

                x          y  count
passer
2995.0  79.884000  11.448000     25
3090.0  38.279545  23.350000     44
5503.0  71.588889  51.096296     27
5507.0  58.567857   7.335714     28
6909.0  12.641667  43.966667     12

In [23]:
passes_between = completions.groupby(['passer', 'recipient']).id.count().reset_index()

In [ ]:
1757